// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ebay-sync-ui-primary: mat.define-palette(mat.$gray-palette, 900);
$ebay-sync-ui-accent: mat.define-palette(mat.$green-palette);

// The warn palette is optional (defaults to red).
$ebay-sync-ui-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ebay-sync-ui-theme: mat.define-light-theme(
  (
    color: (
      primary: $ebay-sync-ui-primary,
      accent: $ebay-sync-ui-accent,
      warn: $ebay-sync-ui-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ebay-sync-ui-theme);

/* You can add global styles to this file, and also import other style files */

//html

body {
  height: 100%;
  background-image: url('assets/images/white-background.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-drawer-content::-webkit-scrollbar {
  display: none;
}
