:host {
  display: block;
}

.mat-toolbar {
  padding-right: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.content-container {
  margin: 20px;
  height: 100vh;
}

.nav-logo-spacer {
  flex: 1 1 auto;
}

.nav-item-spacer {
  flex: 0.1 0.1 auto;
}

.nav-item {
  height: 100%;
  font-size: medium;

  &:hover {
    background-color: rgba(255, 255, 255, 0.237);
  }
}

.mat-icon {
  vertical-align: middle;
}

.mat-drawer {
  position: fixed;
  left: 0;
  // width of toolbar (64) - some offset
  top: 56px;
}

.active-link {
  background-color: rgba(0, 0, 0, 0.168);
}

:host ::ng-deep .mat-mdc-nav-list .mat-mdc-list-item {
  border-radius: 0px;
}
