<esync-card cardTitle="Activity Log" cardIcon="monitor_heart">
  @if (activityLog$ | async) {
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="flow">
        <mat-header-cell *matHeaderCellDef> Flow </mat-header-cell>
        <mat-cell *matCellDef="let row">
          @if (row.flow === ACTIVITY_FLOW.EBAY_TO_SHOPIFY) {
            <span>Ebay <mat-icon>arrow_right_alt</mat-icon> Shopify</span>
          } @else {
            <span>Shopify <mat-icon>arrow_right_alt</mat-icon> Ebay</span>
          }
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.description }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="createdDate">
        <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.createdDate | date: 'short' }}
        </mat-cell>
      </ng-container>

      <!-- Header and Row Declarations -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of activity log"
    >
    </mat-paginator>
  } @else {
    <ng-container *ngTemplateOutlet="loadingTmpl"></ng-container>
  }
</esync-card>

<ng-template #loadingTmpl>
  <div class="spinner center container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
