@if (!loading) {
  <esync-card
    cardTitle="Account Setup"
    cardIcon="manage_accounts"
    class="container"
  >
    <mat-vertical-stepper
      [linear]="true"
      #stepper
      [animationDuration]="'500'"
      [selectedIndex]="stepperSelectedIndex"
    >
      <mat-step [editable]="false" [completed]="isEbayAccountLinkStepComplete">
        <ng-template matStepLabel>Link eBay account</ng-template>
        <a mat-raised-button color="primary" [href]="ebayAuthUrl"
          >Link eBay Account</a
        >
      </mat-step>
      <mat-step [editable]="false" [completed]="isSyncSettingsStepComplete">
        <ng-template matStepLabel>Choose sync settings</ng-template>
        @if (!syncSettingsLoading) {
          <form [formGroup]="syncSettingsForm" class="settings">
            <esync-checkbox-control #markup formControlName="applyMarkup">
              Mark up price</esync-checkbox-control
            >
            @if (markup.checked) {
              <mat-form-field
                class="input-field input-field-dense"
                appearance="outline"
              >
                <input formControlName="markupPercent" matInput type="number" />
                <span matTextSuffix>%</span>
              </mat-form-field>
            }
            <esync-checkbox-control #markdown formControlName="applyMarkdown">
              Mark down price</esync-checkbox-control
            >
            @if (markdown.checked) {
              <mat-form-field
                class="input-field input-field-dense"
                appearance="outline"
              >
                <input
                  formControlName="markdownPercent"
                  matInput
                  type="number"
                />
                <span matTextSuffix>%</span>
              </mat-form-field>
            }
          </form>
          <div>
            <button
              class="save-settings-btn"
              color="primary"
              mat-raised-button
              (click)="saveSyncSettings()"
            >
              Save Settings
            </button>
          </div>
        } @else {
          <mat-spinner></mat-spinner>
        }
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Import products</ng-template>
        @if (!importInProgress && !importComplete) {
          <button color="primary" mat-raised-button (click)="doImport()">
            Import
          </button>
        } @else if (importInProgress && !importComplete) {
          <p>Import in progress...</p>
          <mat-progress-bar
            color="accent"
            mode="determinate"
            [value]="importProgressPercent"
          ></mat-progress-bar>
          <p>Feel free to close the browser and check back later.</p>
        } @else {
          <p>Import complete!</p>
          <a [routerLink]="['app/sync']"
            ><button color="primary" mat-raised-button>
              Enter Application
            </button>
          </a>
        }
      </mat-step>

      <ng-template matStepperIcon="edit">
        <mat-icon>done</mat-icon>
      </ng-template>
    </mat-vertical-stepper>
  </esync-card>
} @else {
  <ng-container *ngTemplateOutlet="loadingTmpl"></ng-container>
}

<ng-template #loadingTmpl>
  <div class="spinner center container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
